{% extends "base.html" %}
{% load webdesign %}

{% block metas %}
<link rel="alternate" type="application/rss+xml" title="Lemanux.org blog" href="http://www.lemanux.org/feeds/blog/" />
{% endblock %}

{% block title %}Groupe d'utilisateurs Linux du Léman{% endblock %}
{{ sidebar }}
{% block sidebar %}
<div id="rightbar">
  <script type="text/javascript">load_index()</script>
  <div id="messaging"></div>
  <p>{% lorem 120 w %}</p>
</div>
{% endblock %}

{% block content %}
{{ message }}
<hr />
{% lorem 6 p %}
{% endblock %}
